<div class="blog">
  <div id="full_div">
    <div style="font-size: 4em;"><%= @article.title%></div>
    <div style="margin-left: 60px; font-size: 2em;"><%= raw @article.content%></div>
  </div>
  <br/>
  <%=link_to "返回", main_index_articles_path(:article_category_id=>@article_category_id), :class=>"btn btn-primary"%>
</div>
