/* Website template by freewebsitetemplates.com */
body {
	background: #091731 image-url("bg-body.jpg") repeat-x left top;
	color: #7087b7;
	font-family: 'Conv_Bitter-Regular';
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
@font-face {
	font-family: 'Conv_Bitter-Regular';
	src: url('<%= asset_path fonts/Bitter-Regular.eot%>');
	src: url('<%= asset_path fonts/Bitter-Regular.eot?#iefix%>') format('embedded-opentype'),
	url('<%= asset_path fonts/Bitter-Regular.woff%>') format('woff'),
	url('<%= asset_path fonts/Bitter-Regular.ttf%>') format('truetype'),
	url('<%= asset_path fonts/Bitter-Regular.svg#Conv_Bitter-Regular%>') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img {
	border: 0;
}
p {
	line-height: 24px;
	margin: 0;
}
p a {
	color: #7087b9;
}
p a:hover,
#body div.blog ul li a.readmore:hover {
	color: #d7e2f9;
}
#body div.blog div#paging a:hover,
#body div.gallery div#paging a:hover {
	color: #edcc6f;
}
#header {
	background: image-url("bg-header-pattern.png") repeat-x left top;
	height: 208px;
	width: 100%;
}
#header div {
	background: image-url("bg-header1.jpg") no-repeat;
	height: 103px;
	margin: 0 auto;
	text-align: center;
	width: 960px;
}
#header div a {
	display: inline-block;
	text-align: center;
}
#header div a img {
	display: inline-block;
	margin: 22px 0 0;
}
#body {
	background: image-url("bg-content.png") repeat-y center top;
	margin: -80px auto 0;
	min-height: 960px;
	overflow: hidden;
	padding: 42px 0 60px;
	width: 960px;
}
#body div#sidebar {
	float: left;
	width: 281px;
}
#body div#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0 0 30px;
}
#body div#sidebar ul li {
	background: image-url("interface.png") no-repeat -253px -316px;
	display: block;
	height: 67px;
	margin: 19px 0 0;
	position: relative;
}
#body div#sidebar ul li:first-child {
	margin: 0;
}
#body div#sidebar ul li a {
	color: #e4e4e4;
	display: block;
	font-size: 24px;
	left: 60px;
	position: absolute;
	text-decoration: none;
	text-indent: 18px;
	width: 169px;
}
#body div#sidebar ul li a.home {
	height: 81px;
	line-height: 75px;
}
#body div#sidebar ul li.current a.home {
	background: image-url("interface.png") no-repeat;
}
#body div#sidebar ul li a.about {
	height: 83px;
	line-height: 85px;
	top: -10px;
}
#body div#sidebar ul li.current a.about {
	background: image-url("interface.png") no-repeat 0 -106px;
}
#body div#sidebar ul li a.blog {
	height: 88px;
	line-height: 85px;
	top: -10px;
}
#body div#sidebar ul li.current a.blog {
	background: image-url("interface.png") no-repeat 0 -214px;
}
#body div#sidebar ul li a.gallery {
	height: 88px;
	line-height: 75px;
	top: -5px;
}
#body div#sidebar ul li.current a.gallery {
	background: image-url("interface.png") no-repeat 0 -327px;
}
#body div#sidebar div {
	background: image-url("bg-separator.png") no-repeat;
	margin: 0 0 0;
	overflow: hidden;
	padding: 30px 0 0;
	width: 215px;
}
#body div#sidebar div p {
	padding: 10px 5px 25px;
}
#body div#sidebar div a#twitter,
#body div#sidebar div a#facebook,
#body div#sidebar div a#googleplus {
	display: block;
	float: left;
	margin: 0 0 15px 48px;
	text-indent: -99999px;
}
#body div#sidebar div a#twitter {
	background: image-url("icons.png") no-repeat 0 0;
	height: 34px;
	margin: 0 0 15px;
	width: 43px;
}
#body div#sidebar div a#facebook {
	background: image-url("icons.png") no-repeat 0 -78px;
	height: 34px;
	width: 35px;
}
#body div#sidebar div a#googleplus {
	background: image-url("icons.png") no-repeat 0 -156px;
	height: 34px;
	width: 33px;
}
#body div#sidebar div a#twitter:hover {
	background: image-url("icons.png") no-repeat 0 -34px;
}
#body div#sidebar div a#facebook:hover {
	background:  image-url("icons.png") no-repeat 0 -112px;
}
#body div#sidebar div a#googleplus:hover {
	background:image-url("icons.png") no-repeat 0 -190px;
}
#body div#sidebar div form {
	margin: 0;
	padding: 0 0 15px;
}
#body div#sidebar div form h3,
#body div#sidebar div h3 {
	color: #e4e4e4;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}
#body div#sidebar div form div {
	background: image-url("interface.png") no-repeat -253px 0;
	height: 30px;
	margin: 17px 0 0;
	padding: 0;
	width: 210px;
}
#body div#sidebar div form div input#emailadd {
	background: none;
	border: none;
	color: #12274b;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	height: 26px;
	line-height: 26px;
	margin: 2px 0 0 2px;
	padding: 0 5px;
	width: 196px;
}
#body div#sidebar div form input#go {
	background: image-url("interface.png") no-repeat -253px -263px;
	border: none;
	color: #261d02;
	cursor: pointer;
	font-family: 'Conv_Bitter-Regular';
	font-size: 20px;
	height: 43px;
	margin: 12px 0 0;
	padding: 0;
	text-shadow: 1px 1px 1px #c29f37;
	text-transform: uppercase;
	width: 77px;
}
#body div#sidebar div form input#go:hover {
	background: image-url("interface.png") no-repeat -330px -263px;
}
#body div#sidebar div a#info,
#body div#sidebar div a#phone {
	color: #7087b7;
	display: block;
	line-height: 38px;
	text-decoration: none;
	text-indent: 75px;
}
#body div#sidebar div a#info {
	background: image-url("interface.png") no-repeat -253px -89px;
	height: 38px;
	margin: 23px 0 0;
}
#body div#sidebar div a#info:hover {
	background: image-url("interface.png") no-repeat -253px -127px;
}
#body div#sidebar div a#phone {
	background: image-url("interface.png") no-repeat -253px -175px;
	height: 39px;
	margin: 5px 0 0;
}
#body div#sidebar div a#phone:hover {
	background: image-url("interface.png") no-repeat -253px -214px;
}
#body div.home,
#body div.about,
#body div.blog,
#body div.gallery {
	float: left;
	margin: 0 0 0 50px;
	width: 618px;
}
#body div.home div#featured {
	padding: 0 0 33px;
}
#body div.gallery div#featured {
	padding: 0 0 20px;
}
#body div.home div#featured div,
#body div.gallery div#featured div:first-child {
	height: 349px;
	padding: 0 0 33px;
	width: 618px;
}
#body div.home div#featured div img,
#body div.gallery div#featured div:first-child img {
	display: block;
	padding: 24px 12px 0;
}
#body div.gallery div.section ul li a img:hover {
	filter: alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity: 0.8;
}
#body div.home div#featured h1,
#body div.about h1 {
	background: image-url("curly.png") no-repeat 0 35px;
	color: #fdfafa;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
	margin: 0;
	text-align: center;
	width: 618px;
}
#body div.home div#featured h1 span,
#body div.about h1 span {
	display: block;
	margin: 0 auto;
	width: 510px;
}
#body div.home div#featured h1 span a,
#body div.about h1 span a {
	color: #a3ceed;
}
#body div.home div.section,
#body div.gallery div.section {
	background: image-url("bg-separator2.png") no-repeat center top;
	padding: 70px 0 0;
}
#body div.home div.section div {
	overflow: hidden;
}
#body div.home div.section div p {
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	width: 297px;
}
#body div.home div.section p {
	padding: 32px 0 0;
}
#body div.home div.section div p:first-child {
	margin: 0;
}
#body div.about {
	padding: 20px 0 0;
}
#body div.about div {
	background: image-url("separator.png") no-repeat center top;
	margin: 42px 0 0;
	padding: 50px 0 0;
}
#body div.about div h3 {
	color: #ffffff;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 33px 0 0;
	text-transform: uppercase;
}
#body div.about div h3:first-child {
	padding: 0;
}
#body div.about div p {
	padding: 33px 0 0;
}
#body div.about div#founder {
	background: none;
	margin: 0;
	padding: 10px 0 0;
	width: 220px;
}
#body div.about div#founder img {
	display: block;
	margin: 0 0 19px;
}
#body div.about div#founder span {
	color: #cca227;
	display: block;
	font-style: italic;
}
#body div.blog {
	padding: 20px 0 0;
}
#body div.blog ul,
#body div.gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div.blog ul li {
	overflow: hidden;
	padding: 50px 0 0;
}
#body div.blog ul li a.readmore {
	color: #7087b7;
	display: block;
	float: right;
	line-height: 24px;
}
#body div.blog ul li:first-child {
	padding: 0;
}
#body div.blog ul li p {
	text-align: justify;
}
#body div.blog ul li div {
	overflow: hidden;
}
#body div.blog ul li div h2 {
	color: #fdfdfe;
	font-size: 18px;
	font-weight: normal;
	float: left;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div.blog ul li div h2 a:hover {
	text-decoration: underline;
}
#body div.blog ul li div span {
	color: #fdfdfe;
	display: block;
	float: right;
	font-size: 12px;
	line-height: 24px;
}
#body div.blog div#paging,
#body div.gallery div#paging {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 65px 0 0;
	text-align: center;
}
#body div.blog div#paging a,
#body div.gallery div#paging a {
	color: #cea531;
	text-decoration: none;
}
#body div.blog div#paging ul,
#body div.gallery div#paging ul {
	display: inline;
}
#body div.blog div#paging ul li,
#body div.gallery div#paging ul li {
	display: inline;
	padding: 0 5px;
}
#body div.gallery div#featured div:first-child {
	padding: 0 0 19px;
}
#body div.gallery div#featured div:first-child a {
	background: none;
	float: none;
}
#body div.gallery div#featured div {
	overflow: hidden;
}
#body div.gallery div#featured div div:first-child {
	background: none;
	float: left;
	height: auto;
	padding: 0;
	width: auto;
}
#body div.gallery div#featured div div:first-child a {
	background: image-url("interface.png") no-repeat -253px -40px;
	float: none;
	margin: 0 0 0 3px;
}
#body div.gallery div#featured div div:first-child a:hover,
#body div.gallery div#featured div a:hover {
	background: image-url("interface.png") no-repeat -319px -40px;
}
#body div.gallery div#featured div div:first-child a:first-child {
	margin: 0;
}
#body div.gallery div#featured div a {
	background: image-url("interface.png") no-repeat -253px -40px;
	color: #261d02;
	display: inline-block;
	float: right;
	font-size: 16px;
	height: 39px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #c29f37;
	text-transform: lowercase;
	width: 66px;
}
#body div.gallery div.section ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 46px 0 0;
}
#body div.gallery div.section ul:first-child {
	padding: 0;
}
#body div.gallery div.section ul li {
	float: left;
	margin: 0 0 0 56px;
}
#body div.gallery div.section ul li:first-child {
	margin: 0;
}
#body div.gallery div.section ul li a img {
	border: 3px solid #ffffff;
	display: block;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1;
}
#footer {
	background: image-url("bg-footer.png") repeat-x left bottom;
	height: 195px;
	overflow: hidden;
	margin: -70px 0 0;
}
#footer div {
	background: image-url("bg-footer2.jpg") no-repeat;
	height: 92px;
	margin: 103px auto 0;
	width: 960px;
}
#footer div p {
	color: #c89f59;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 92px;
	text-align: center;
}
