<form method="get" class="form-inline">
  <div class="form-group">
    <font color="red" size="5em"> 请输入关键字：</font>
    <input class="form-control" style="width:100%" type="text" name="title" id="title" />
  <input type="submit" value="查询" class="btn btn-primary" />
  </div>
</form>
