<div class="home">
  <div id="featured">
    <div style="background-image:url(<%= asset_path "bg-about.png"%>); background-repeat: no-repeat;">
      <div style="position:relative;top:19%;left:7%;width:78%;">
        <p align="center"><font color="#fdfae6" size="5em">大家好，欢迎大家访问我的个人网站。</font></p>
        <br/>
        <p><font color="#fdfae6">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是王丽云，大学专业是软件工程，从事于软件开发。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会使用ruby on rails进行web开发;熟悉html和css;了解js，会使用jQuery和bootstrap;会使用vim常用快捷键;熟悉Linux常见命令;了解单元测试。
        </font></p>
      </div>
    </div>
    <h1><span>这个个人网站是自己所写，网站中的文章都是自己平时遇到的问题的解决办法，如果您有好的建议，欢迎联系我</span></h1>
  </div>
  <div class="section">
    <div>
      <p>
      关于我是我的个人简历，包括学习经历和实践经历
      </p>
      <p>
      技术里记录了平时开发过程中遇到的问题及解决办法，包括一些知识点的总结
      </p>
    </div>
    <p>
    生活里是平时一些心得体会，仅供分享
    </p>
    <p>
    所有文章并不全面，如有问题，欢迎提出建议
    </p>
  </div>
</div>
